{% extends "admin/change_list.html" %}
{% block content_title %}
    <h2 style="text-align: center; font-size: 30px">Statistik Siswa</h2>
{% endblock %}
{% block result_list %}
    <br/>
    <br/>
    <br/>
    <div id="stat"></div>
    <br/>
    <br/>
    <br/>
    <div id="stat2"></div>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="col-md-12">{{plot|safe}}</div> -->
 <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="http://blacklabel.github.io/grouped_categories/grouped-categories.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];

        var myDays = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', "Jumat", 'Sabtu'];

        var date = new Date();

        var day = date.getDate();

        var month = date.getMonth();

        var thisDay = date.getDay(),

            thisDay = myDays[thisDay];

        var yy = date.getYear();

        var year = (yy < 1000) ? yy + 1900 : yy;

        var hours = date.getHourMinuteSecond()

        var datetime = thisDay + ', ' + day + ' ' + months[month] + ' ' + year  + ' ' + hours + " WIB";
        Highcharts.chart('stat', {
          chart: {
            type: 'line',
            spacingBottom: 15,
            spacingTop: 10,
            spacingLeft: 10,
            spacingRight: 10,
            width: null,
            height: null
          },
          title: {
            text: "Statistik Asal Sekolah Siswa"

          },
          subtitle: {
            text: datetime
          },
          xAxis: {
            categories: [
              {% for entry in statistik %}'{{ entry.2 }}' {% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        },
        series: [{
          name: 'Jumlah',
          data: [
            {% for entry in statistik %}{{ entry.0 }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          pointStart: 0,
          color: 'blue'
      }]

    });
    Highcharts.chart('stat2', {
      chart: {
        type: 'line',
        spacingBottom: 15,
        spacingTop: 10,
        spacingLeft: 10,
        spacingRight: 10,
        width: null,
        height: null
      },
      title: {
        text: "Statistik Banyak Daftar"

      },
      subtitle: {
        text: datetime
      },
      xAxis: {
        categories: [
          {% for entry in statistik %}'{{ entry.4 }}' {% if not forloop.last %}, {% endif %}{% endfor %}
        ]
    },
    series: [{
      name: 'Jumlah',
      data: [
        {% for entry in total %}{{ entry }}{% if not forloop.last %}, {% endif %}{% endfor %}
      ],
      pointStart: 0,
      color: 'blue'
  }]

});
</script>
    <style>
    @import 'https://code.highcharts.com/css/highcharts.css';
    .highcharts-title {
    fill: #434348;
    font-size: 20px !important;
    }
    </style>
<!--{{ block.super }}-->
{% endblock %}

<!--{% block pagination %}{% endblock %}-->
