{% extends "admin/change_list.html" %}
{% block content_title %}
    <h2 style="text-align: center; font-size: 30px">Statistik Pelunasan</h2>
{% endblock %}
{% block result_list %}
    <br/>
    <br/>
    <br/>
    <div id="linechart_material"></div>
    <br/>
    <br/>
    <br/>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="col-md-12">{{plot|safe}}</div> -->
 <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="http://blacklabel.github.io/grouped_categories/grouped-categories.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];

        var myDays = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', "Jumat", 'Sabtu'];

        var date = new Date();

        var day = date.getDate();

        var month = date.getMonth();

        var thisDay = date.getDay(),

            thisDay = myDays[thisDay];

        var yy = date.getYear();

        var year = (yy < 1000) ? yy + 1900 : yy;

        var hours = date.getHourMinuteSecond()

        var datetime = thisDay + ', ' + day + ' ' + months[month] + ' ' + year  + ' ' + hours + " WIB";
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
              ['Year', 'Visitations', { role: 'style' } ],
              ['2010', 10, 'color: gray'],
              ['2020', 14, 'color: #76A7FA'],
              ['2030', 16, 'opacity: 0.2'],
              ['2040', 22, 'stroke-color: #703593; stroke-width: 4; fill-color: #C5A5CF'],
              ['2050', 28, 'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2']
            ]);
          var options = {
            chart: {
              title: 'Siswa Lunas',
              subtitle: datetime,
            },
            width: 1000,
            height: 500,
            titlePosition: 'none',
          };

          var chart = new google.visualization.BarChart(document.getElementById('linechart_material'));

          chart.draw(data, {displayAnnotations: true});
        }
</script>
    <style>
    @import 'https://code.highcharts.com/css/highcharts.css';
    .highcharts-title {
    fill: #434348;
    font-size: 35px !important;
    }
    </style>
<!--{{ block.super }}-->
{% endblock %}

<!--{% block pagination %}{% endblock %}-->
