<!DOCTYPE html>
{% load static %}
<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></head>
    <meta charset="utf-8">
    <title>{{ siswa.nama_siswa }}</title>
  </head>
<body>
    <div class="jumbotron">
      <div class="container">
        <div class="card-header">
          <div class="card-img">
            <table>
              <th>
                <img style="align-content: right; border: 1px solid #ddd; border-radius: 4px; padding: 5px; width: 150px;" src="/static/images/smaua.png">
              </th>
              <td>
                <h2 style="color:blue; text-align: center;">  SMA ULUL ALB@B TAMAN</h2>
                <p style="color:black; text-align: left;">   ISLAMIC FULL DAY SCHOOL</p>
                <p style="color:black; text-align: left;">   Jl.Bebekan Masjid No 1-2 Sepanjang, Taman Sidoarjo</p>
                <p style="color:black; text-align: left;">   Telp : (031) 7882051, Hotline: (087)878717171</p>
              </td>
            </table>
            </div>
        </div>
        {% if siswa %}
             <div class="card-description">
                 <table border="2" class="table">
                     <thead>
                     <tr>
                        <th>ID</th>
                         <th>Nama</th>
                         <th>Asal Sekolah</th>
                         <th>Diterima Di Kelas</th>
                         <th>Alamat</th>
                         <th>No Telfon Ortu</th>
                     </tr>
                     </thead>
                     <tbody>
                        <td>{{ siswa.id }}</td>
                        <td>{{ siswa.nama_siswa }}</td>
                        <td>{{ siswa.asal_sekolah }}</td>
                        <td>{{ siswa.diterima_di_kelas.kelas }}</td>
                        <td>{{ siswa.alamat }}</td>
                        <td>{{ siswa.no_telp_ortu.base_number }}</td>
                     </tbody>
                 </table>
                <table class="table" border="2">
                  <h6 style="text-align: center;"> Dibayarkan : </h6>
                  <thead>
                    <tr>
                      <th>Nama Tagihan</th>
                      <th>Harga Tagihan</th>
                      <th>Jumlah Dibayar</th>
                      <th>Tagihan Kelas</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if tagihan_dilunasi %}
                    {% for tagihan in  tagihan_dilunasi %}
                     <tr>
                      <td> {{ tagihan.tagihan.nama_tagihan }} </td>
                      <td> {{ tagihan.tagihan.biaya }} </td>
                         {% if tagihan.diskon %}
                      <td> {{ tagihan.dibayar }} Diskon: {{ tagihan.diskon.jumlah }} % </td>
                         {% else %}
                      <td> {{ tagihan.dibayar }} Diskon: 0 % </td>
                         {% endif %}
                     <td> {{ tagihan.tagihan.kelas.kelas }} </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                     <td> - </td>
                     <td> - </td>
                     <td> - </td>
                    <td> - </td>
                  </tr>
                  {% endif %}
                  </tbody>
                </table>
                {% if total_dilunasi %}
                <p> total tagihan terbayar = Rp. {{ total_dilunasi.dibayar__sum }}<p>
                  {% else %}
                  <p> total tagihan terbayar = Rp. 0<p>
                {% endif %}
                <table class="table" border="2">
                  <h6 style="text-align: center;"> Cicilan : </h6>
                  <thead>
                    <tr>
                      <th>Nama Tagihan</th>
                      <th>Harga Tagihan</th>
                      <th>Yang Sudah Dibayar</th>
                      <th>Tagihan Kelas</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if tagihan_cicilan %}
                    {% for tagihan in  tagihan_cicilan %}
                     <tr>
                      <td> {{ tagihan.tagihan.nama_tagihan }} </td>
                      <td> {{ tagihan.tagihan.biaya }} </td>
                         {% if tagihan.diskon %}
                      <td> {{ tagihan.dibayar }} Diskon: {{ tagihan.diskon.jumlah }} % </td>
                         {% else %}
                      <td> {{ tagihan.dibayar }} Diskon: 0 % </td>
                         {% endif %}
                     <td> {{ tagihan.tagihan.kelas.kelas }} </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                     <td> - </td>
                     <td> - </td>
                     <td> - </td>
                    <td> - </td>
                  </tr>
                    {% endif %}
                  </tbody>
                </table>
                {% if total_cicilan.dibayar__sum == None %}
                <p> total tagihan dicicil = Rp. 0<p>
                  {% else %}
                  <p> total tagihan dicicil = Rp. {{ total_cicilan.dibayar__sum }} <p>
                {% endif %}
                   <table class="table" border="2">
                  <h6 style="text-align: center;"> Belum Terbayar : </h6>
                  <thead>
                    <tr>
                      <th>Nama Tagihan</th>
                      <th>Harga Tagihan</th>
                      <th>Tagihan Kelas</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if tagihan_belum %}
                    {% for tagihan in tagihan_belum %}
                     <tr>
                      <td> {{ tagihan.nama_tagihan }} </td>
                      <td> {{ tagihan.biaya }} </td>
                     <td> {{ tagihan.kelas.kelas }} </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                     <td> - </td>
                     <td> - </td>
                     <td> - </td>
                    <td> - </td>
                  </tr>
                    {% endif %}
                  </tbody>
                </table>
                {% if total_belum %}
                <p> total tagihan belum dibayar = Rp. {{ total_belum.biaya__sum }}<p>
                  {% else %}
                  <p> total tagihan belum dibayar = Rp. 0<p>
                  {% endif %}
                  {% endif %}
                 <p style="text-align: right;margin: 1px 10px ">Sidoarjo, {{ dibayar_tanggal|date:"d-M-Y" }} {{ dibayar_tanggal|date:"H:i" }}</p>
                 <p style="text-align: right;margin: 1px 35px ">Diverifikasi Oleh</p>

                 <p style="text-align: right; margin: 1px 34px ">{{ verifikasi.diverifikasi__first_name }} {{ verifikasi.diverifikasi__last_name }}</p>
                 <br>
                 <br>
                 <br>
                 <p style="text-align: right; margin:1px 10px">(................................)</p>
                 <p style="text-align: right;"></p>
          </div>
          </div>
        </div>
          <button class="btn btn-primary d-print-none" onclick="javascript:window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print Form</button>
        <!-- <button class="btn btn-success hidden-print" id="printPageButton" style="@media print { #printPageButton { display: none;  } }" onClick="javascript:window.print()">Print form</button> -->
        <!-- <div class="card" style="align-items: center">
            <button type="button" class="btn btn-primary btn-xs btn-sm btn-col" style=" width: 78px !important;"> Print</button>
        </div> -->
    </div>
  </body>
</body>
</html>
